<section class="py-5 hero-section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-12 text-center mb-4 mb-md-0">
                <h1 class="display-5 fw-bold text-center">Willkommen auf der Website des FSR Informatik</h1>
                <p class="lead text-center">Gemeinsam stark im Studium – dein Fachschaftsrat steht für Austausch, Unterstützung und Mitgestaltung.</p>
                <div class="d-flex justify-content-center gap-4 mt-3">
                    <a href="{{ "/about" | relURL }}" class="btn btn-primary btn-lg">mehr erfahren</a>
                    <a href="{{ "/kontakt" | relURL }}" class="btn btn-secondary btn-lg">kontaktieren</a>
                </div>
            </div>
        </div>
    </div>

    <div class="hero-card-wrapper">
        <div class="hero-card-column left">
            <div class="hero-card left-1"></div>
            <div class="hero-card left-2"></div>
        </div>
        <div class="hero-card-column right">
            <div class="hero-card right-1"></div>
            <div class="hero-card right-2"></div>
        </div>
    </div>
</section>