{{ define "main" }}
<div class="d-flex flex-column-reverse flex-md-column">
    {{ partial "hero.html" . }}
    <div class="container">
        <img src="{{ (resources.Get "images/hero-image.jpg").RelPermalink }}" alt="Hero Bild"
             class="about-image img-fluid w-100">
    </div>
</div>
    <section class="about-section">
        <div class="container">
            <div class="row mt-5">
                <div class="col-md-4 mb-4">
                    <div class="card h-100">
                        <div class="card-header">
                            Unterstützung im Studium
                        </div>
                        <div class="card-body">
                            <p class="card-text">Wir bieten euch Beratung und Hilfe bei allen Fragen rund ums
                                Informatik-Studium – egal ob bei der Kurswahl, Prüfungen oder einfach, wenn du mal nicht
                                weiterweißt.</p>
                        </div>
                        <div class="card-button">
                            <a href="/studium" class="btn btn-primary">Mehr erfahren</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="card h-100">
                        <div class="card-header">
                            Veranstaltungen & Events
                        </div>
                        <div class="card-body">
                            <p class="card-text">Von Spieleabenden bis zu Vernetzungstreffen. Wir organisieren
                                vielfältige
                                Events für alle Studierenden. Triff andere Studis, lerne Neues und hab einfach Spaß
                                abseits vom Uni-Alltag.</p>
                        </div>
                        <div class="card-button">
                            <a href="/events" class="btn btn-primary">Mehr erfahren</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="card h-100">
                        <div class="card-header">
                            Mitmachen & Engagement
                        </div>
                        <div class="card-body">
                            <p class="card-text">Werde Teil des iFSR und bring dich ein! Egal ob du bei Events
                                helfen willst, oder mitreden möchtest. Bei uns kannst du
                                das Studium mitgestalten und neue Erfahrungen sammeln.</p>
                        </div>
                        <div class="card-button">
                            <a href="/about/uniwahlen" class="btn btn-primary">Mehr erfahren</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="ese-section mt-5 mb-5">
        <div class="container">
            <div class="card text-center">
                <div class="card-header">
                    Neu an der Uni?
                </div>
                <div class="card-body">
                    <p class="card-text">
                        Alle Infos für Erstsemester findet ihr auf unserer ESE-Seite – schaut vorbei! Dort erfahrt ihr, was euch in der
                        Einführungswoche erwartet, welche Veranstaltungen stattfinden und wie ihr am besten in euer Studium startet. Außerdem lernt ihr andere Studis kennen und könnt euch vernetzen.
                    </p>
                    <a href="https://ese.ifsr.de/" class="btn btn-primary">Zur ESE-Website</a>
                </div>
            </div>
        </div>
    </section>
    <section class="feed-section">
        <div class="container">
            <h2 class="feed-heading text-center">Neuigkeiten</h2>
            <div id="feed"></div>
        </div>
    </section>
{{ end }}
