/* ========================
   Markdown Content
   ======================== */
#markdown {
    max-width: 80%;
    margin: 0 auto;
    padding: 3rem 0 3rem 0;
    hyphens: auto;
    text-align: left;
    line-height: 1.8;
    color: var(--color-text);
}

#markdown h1 {
    font-size: 2.5rem;
    margin-top: 0;
    margin-bottom: 2rem;
    text-align: left;
    color: var(--color-text);
    background-color: var(--color-accent);
    border-radius: 8px;
    padding: 5px 10px;
    display: inline-block;
    box-shadow: 0 4px 0 0 var(--color-text);
}

.dark #markdown h1 {
    color: var(--color-text-dark);
    box-shadow: 0 4px 0 0 var(--color-off);
}

#markdown h1::before {
    content: "// ";
    color: var(--color-text);
    font-weight: bold;
}

.dark #markdown h1::before {
    color: var(--color-text-dark);
}

#markdown h2 {
    font-size: 2rem;
    color: var(--color-text);
}

#markdown h3 {
    font-size: 1.5rem;
    color: var(--color-text);
}

#markdown h4 {
    font-size: 1.25rem;
    color: var(--color-text);
}

#markdown h5 {
    font-size: 1.1rem;
    color: var(--color-text);
}

#markdown h6 {
    font-size: 1rem;
    color: var(--color-text);
}

#markdown p,
#markdown li {
    font-size: 1.1rem;
    color: var(--color-text);
}

#markdown ul, #markdown ol {
    padding-left: 20px;
}

#markdown table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    margin-bottom: 1.5rem;
    font-size: 1.1rem;
    color: var(--color-text);
    border: 1px solid var(--color-text);
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 0 4px 0 0 var(--color-text);
    table-layout: fixed;
}

#markdown th,
#markdown td {
    background-color: var(--color-off);
    border: 1px solid #ccc;
    padding: 12px 15px;
    text-align: left;
    border-radius: 0;
}

#markdown th {
    color: var(--color-text);
    font-weight: bolder;
}

#markdown blockquote {
    background-color: var(--color-off);
    padding: 20px 20px 0 20px;
    margin-bottom: 20px;
    color: var(--color-text);
    border: 1px solid var(--color-text);
    border-radius: 30px;
    box-shadow: 0 4px 0 0 var(--color-text);
}

#markdown a {
    color: var(--color-link);
    text-decoration: none;
    transition: color 0.3s;
}

#markdown a:hover {
    color: var(--color-link);
    text-decoration: underline;
}

#markdown code {
    background-color: var(--color-off);
    color: var(--color-text);
    padding: 0.2rem 0.4rem;
    border-radius: 4px;
    font-size: 1.05rem;
}


#markdown img {
    width: 100%;
    max-height: 60vh;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-top: 50px;
}

/* ========================
   Responsive Design
   ======================== */
@media (max-width: 576px) {
    #markdown {
        padding: 1rem 0 0 0;
        max-width: 95%;
    }

    #markdown h1 {
        font-size: 1.8rem;
        margin-top: 2rem;
    }

    #markdown h2 {
        font-size: 1.6rem;
    }

    #markdown h3 {
        font-size: 1.4rem;
    }

    #markdown h4 {
        font-size: 1.2rem;
    }

    #markdown h5 {
        font-size: 1.1rem;
    }

    #markdown h6 {
        font-size: 1rem;
    }

    #markdown p,
    #markdown li {
        font-size: 1rem;
    }
}
